<section style="margin: 0 20px;"> 
        <p>It's an image gallery with some random pictures from https://www.pexels.com and https://picsum.photos/</p>
</section>

<section id="thumbnails">   
    <article>
		<a class="thumbnail" href="https://picsum.photos/1920/1020" data-position="left center"><img src="https://picsum.photos/1920/1020" alt="" /></a>
    </article>
</section>

